# set the actual script directory per https://stackoverflow.com/a/246128
SOURCE="${BASH_SOURCE[0]}"
while [ -h "$SOURCE" ]; do # resolve $SOURCE until the file is no longer a symlink
  DIR="$( cd -P "$( dirname "$SOURCE" )" >/dev/null 2>&1 && pwd )"
  SOURCE="$(readlink "$SOURCE")"
  [[ $SOURCE != /* ]] && SOURCE="$DIR/$SOURCE" # if $SOURCE was a relative symlink, we need to resolve it relative to the path where the symlink file was located
done
DIR="$( cd -P "$( dirname "$SOURCE" )" >/dev/null 2>&1 && pwd )"

# fail if EXPORT_DIR is not specified; to address this failure, e.g., EXPORT_DIR=/full/path/to/export
if [ ! -d ${EXPORT_DIR:?} ]; then
 echo "Please set EXPORT_DIR before sourcing ${SOURCE}"
fi

TARDIS="docker run --rm -ti \
  -v $XDG_RUNTIME_DIR/docker.sock:/var/run/docker.sock \
  -v $DIR/s3/dest.s3cfg:/opt/s3/dest.s3cfg \
  -v $DIR/s3/dest.config:/opt/s3/dest.config \
  -v $EXPORT_DIR:/export \
  --name tardis tardis"
